<a href="https://colab.research.google.com/github/MuChi2112/Meshine-Learning/blob/main/2_4_Intro_To_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro to Lists

So far you have learned how to save data of different types into variables. If you wanted to save multiple pieces of data, you would need to create multiple variables.

Luckily, python has another data type called **Lists** that allow you to store a set of values under a single variable name.

1. Run the cell below to create and print a list.

In [1]:
my_list = [3,2,6,1]

print(my_list)

[3, 2, 6, 1]

##Length of Lists

Python has a built in function called **len()** to keep track of the length of a list.

2. Run the cell below to print out the length of your list.

In [2]:
print(len(my_list))

4

##Individual Elements

If you want to look at a single element of a list, you can reference it using it's index. The index of an element in a list is it's location. Indices in a list start at 0.

Run the cell below to see the first element of a list printed out.

In [3]:
print(my_list[0])

3

###Try This!

Can you print out the third element in the list?

In [6]:
# Add your code to print the third element of the list
the_list=[1,7,45]
print(the_list)

[1, 7, 45]

What if you wanted to edit the data in a list? Let's say you want to change the third element into the number 8. How would you do it?

In [7]:
# Update the third element
my_list[2] = 8
# Print the list
print(my_list)

[3, 2, 8, 1]

Remember the indices of a list start at 0 so the third element is at index 2.

###Try This!
Can you update the last element of your list to the number 7?

In [9]:
# Add your code here
the_list=[1,7,45]
print(the_list[0])

1

##Looping Through a List

Imagine that you have a list of cookies that you and a group of friends have eaten.

Then, you hand everyone a cookie and they eat it. You would need to add one to each person's cookie count. How would you do this?

You can create a for loop to go through each element in the list, and add one.

note: in this for loop, you will use the **len()** function to get the length of the list.

1. Run the code cell below to see it in action.

In [10]:
# Create the cookie count list
cookie_count = [2, 3, 1, 5, 10]
# Print the cookie count list
print(cookie_count)

# Loop through the list
for x in range(len(cookie_count)):
  # Add one to the element at index x
  cookie_count[x] += 1
# Print the updated list
print(cookie_count)

[2, 3, 1, 5, 10]
[3, 4, 2, 6, 11]

For loops are especially useful when you want to look at each element in a list, and do something to it.

###Try This!

Can you make a for loop that adds two to each element in a list?

In [13]:
# Add your code to loop through your list and add two to each element

the_list=[1,7,45]
for x in range(len(the_list)):
  print(the_list[x])

1
7
45

##Python For Loop Tricks

If you have some data saved to a list, you can easily step through it. For example, look at this list of fruits and how you can loop through it.

In [14]:
fruits = ['apple', 'orange', 'banana', 'grape']

for fruit in fruits:
  print("the fruit is " + fruit)

the fruit is apple
the fruit is orange
the fruit is banana
the fruit is grape

Instead of using the for x in range format, you can step through any data type using this kind of for loop.

##Conditionals and Loops

There are also some useful conditionals that can be used with lists and for loops.

One such conditional is ```in``` . You can use this to check if an element is in a list.

 1. Run the cell below to see a demonstration

In [15]:
print('apple' in fruits)

print('tomato' in fruits)

True
False

You can use this condition to check if elements are present in a list.

###Try this!

Can you figure out which elements in the vegetable list do not belong?

In [17]:
veggies = ['broccoli', 'lettuce', 'banana', 'potato', 'squash']
# Add your code to check which elements do not belong
for veggie in veggies:
  print("the veggie is " + veggie)

the veggie is broccoli
the veggie is lettuce
the veggie is banana
the veggie is potato
the veggie is squash

<details>
<summary> Click this for an example </summary>

```
for veggie in veggies:
  if veggie in fruits:
    print(veggie + " is not a vegetable")


```


</details>